body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;

}

.navbar-nav li {
  list-style-type: none;

}

.is--hidden {
  display: none;
}

nav {
  background-color: #29335C;
  padding: 15px;
  margin-bottom: 10px;

}

a {
  text-decoration-line: none;
  font-size: 24px;
  text-transform: capitalize;
  color:#C2C1C2;
  padding: 0 3px;
}

a:hover {
  text-decoration-line: underline;
}

.active {
  font-weight: bold;
}

#main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-deck {
  display: flex;
  flex-direction: column;
  margin: 10px 5%;

}

.card {
  background-color: #C7DAE6;
  border: 1px solid #29335C;
  padding: 10px;
  margin: 10px;
  min-width: 400px;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 15px;
  border: 3px solid lightslategray;
  height: min-content;
  
}

fieldset {
  border: none;
}

#welcomeHeader {
  padding-left: 20px;
}

#register-section {
  padding: 10px;
}

.centered {
  margin:50px auto;
  text-align:center;
}

.button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#homePageHeader {
  text-transform: capitalize;
}

.currentUser {
  background-color: #C2E7DA;
  
}

#messages-article {
  flex-direction: column-reverse;
  width: 1200px;
  background-image: linear-gradient(#DBEEF9,  #29335C);
}

#messages-article .card {
  margin: 10px 10%;
  width: 600px;
  border-radius: .4em;
}


#messageForm {
  margin: 0 25%;
}

#messages-article .currentUser {
  align-self: flex-end;

}

.edit-form-is--hidden {
  display: none
}